/* width */
::-webkit-scrollbar {
    width: 10px;
}

    /* Track */
    ::-webkit-scrollbar-track {
        background: none;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(50, 100, 50);
        border-radius: 5px;
        min-height: 40px;

        &:hover {
            background: gray;
        }
    }